.new-profile-image {
    padding-top: 10px;
}

.new-post {
    padding: 16px 0;
}

.account-view-btn {
    clear: both;
    padding-top: 20px;
}

.image-news-feed {
    height: 170px !important;
    width: 100%;
}

.new-post header,
.tweets header {
    margin-bottom: 20px;
}

.tweets .tweet {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.tweets .tweet .info {
    color: #aaa;
    font-style: italic;
}